body {
  background-color: plum;
}

.app-container {
  display: flex;
  justify-content: center;
}

.container {
  width: 75%;
  height: 100vh;
  padding: 2rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 3rem;
}

.thumbnail {
  max-width: 150px;
  height: 99px;
  overflow: hidden;
  margin: 0.5rem;
}

.image-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.large-image {
  max-height: 700px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}